@inject okLims.Data.ApplicationDbContext  Context
@model okLims.Models.Request
@{
    ViewData["Title"] = "Request";
}
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-gear"></i> @ViewData["Title"]</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="Grid"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>


<div class="control-section">
    <ejs-grid id="Grid" dataSource="@ViewBag.DataSource"  toolbar="@(new List<string>(){"Add","Delete","Update","Cancel", "ExcelExport", "Search"})" allowPaging=true>
        <e-data-manager url="/api/Request" adaptor="WebApiAdaptor" crossDomain="true"></e-data-manager>
        <e-grid-editSettings allowDeleting="true" allowAdding="true" allowEditing="true" mode="Dialog"  newRowPosition="Bottom"></e-grid-editSettings>
        <e-grid-pageSettings pageCount="5"></e-grid-pageSettings>
        <e-grid-columns>
            <e-grid-column field="RequestId" headerText="Request ID" isPrimaryKey="true" isIdentity="true" visible="true" type="number" textAlign="Center" width="120"></e-grid-column>
            <e-grid-column field="RequesterEmail" headerText="Requester Email" type="string" width="140"></e-grid-column>
            <e-grid-column field="ControllerType" allowEditing="true" headerText="Controller Type" type="string" width="140" foreignKeyField="ControllerID" foreignKeyValue="controllerType" editType="dropdownedit" dataSource="@ViewBag.ControllerType"></e-grid-column>
            <e-grid-column field="FilterType" headerText="Filter Type" foreignKeyField="FilterID" foreignKeyValue="filterType" editType="dropdownedit" width="140" dataSource="Context.FilterType"></e-grid-column>
            <e-grid-column field="FilterSize" headerText="Filter Size" foreignKeyField="SizeID" foreignKeyValue="filterSize" editType="dropdownedit" width="140" dataSource="Context.FilterSize"></e-grid-column>
            <e-grid-column field="Start" headerText="Start Date" textAlign="Center" editType="datepickeredit" format='dd:MM:yy' width="100"></e-grid-column>
            <e-grid-column field="End" headerText="Due Date" format='dd:MM:yy' textAlign="Center" editType="datepickeredit" width="100"></e-grid-column>
            <e-grid-column field="LaboratoryName" headerText="Lab Name" foreignKeyField="LaboratoryId" foreignKeyValue="LaboratoryName" type="string" textAlign="Center" width="120"></e-grid-column>
            <e-grid-column field="SpecialDetails" headerText="Special Details" width="140" type="text"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>
