@using Syncfusion.EJ2.Schedule
@using Syncfusion.EJ2
@using Syncfusion.EJ2.Buttons
@model okLims.Models.Request

@{
    ViewData["Title"] = "Request";
}
<div>
    <ejs-button id="btn1" content="ADD"></ejs-button>
    <ejs-button id="btn2" content="EDIT"></ejs-button>
    <ejs-button id="btn3" content="DELETE"></ejs-button>
</div>
<ejs-schedule id="schedule" height="550">
    <e-schedule-eventsettings dataSource="@ViewBag.shitfucks">
        <e-eventsettings-fields id="RequestId">
            <e-field-subject name="RequesterEmail"></e-field-subject>
            <e-field-location name="LaboratoryName"></e-field-location>
            <e-field-description name="MethodName"></e-field-description>
            <e-field-starttime name="Start"></e-field-starttime>
            <e-field-endtime name="End"></e-field-endtime>
        </e-eventsettings-fields>
    </e-schedule-eventsettings>
</ejs-schedule>
@section Styles{

}

    <script type="text/javascript">
        document.getElementById('btn1').onclick = function () {
            var scheduleObj = document.getElementById('Request').ej2_instances[0];
            var Data = [{
                RequestId: shitfucks.RequestId,
                RequesterEmail: shitfucks.RequesterEmail,
                MethodName: shitfucks.MethodName,
                LaboratoryName: shitfucks.LaboratoryName,
                Start: shitfucks.Start,
                EndTime: shitfucks.End

            }];
            scheduleObj.addEvent(Data);
            document.getElementById('btn1').setAttribute('disabled', 'true');
        };
        document.getElementById('btn2').onclick = function () {
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            var Data = {
                RequestId: _context.RequestId,
                RequesterEmail: _context.RequesterEmail,
                MethodName: _context.MethodName,
                LaboratoryName: _context.LaboratoryName,
                Start: _context.Start,
                EndTime: _context.End

            };
            scheduleObj.saveEvent(Data);
            document.getElementById('btn2').setAttribute('disabled', 'true');
        };
        document.getElementById('btn3').onclick = function () {
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            scheduleObj.deleteEvent(4);
            document.getElementById('btn3').setAttribute('disabled', 'true');
        };
    </script>
