@model okLims.Models.Request
    @{Layout = "~/Views/Shared/_Layout.cshtml"; }

<header>

</header>
<body>
    
        <div class="content-wrapper">
            <section class="content">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title text-primary"><i class="fa fa-users"></i>Submit Request</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-8">
                            <form asp-action="SubmitRequest">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="RequestId" />
                                <div class="form-group">
                                    <label asp-for="RequesterEmail">Email</label>
                                    <ejs-textbox id="RequesterEmail" placeholder="Email" floatLabelType="Auto" ejs-for="@Model.RequesterEmail"></ejs-textbox>
                                    <div id="errorMessage">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FilterID">Filter Type</label>
                                    <ejs-dropdownlist id="FilterID" placeholder="Filter Type">
                                        <e-data-manager adaptor="WebApiAdaptor" url="/api/FilterType" crossDomain="true"></e-data-manager>
                                        <e-dropdownlist-fields text="filterType" value="FilterID"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SizeID">Filter Size</label>
                                    <ejs-dropdownlist id="SizeID" placeholder="Filter Size">
                                        <e-data-manager adaptor="WebApiAdaptor" url="/api/FilterSize" crossDomain="true"></e-data-manager>
                                        <e-dropdownlist-fields text="filterSize" value="SizeID"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ControllerID">Controller Type</label>
                                    <ejs-dropdownlist id="ControllerID" placeholder="Controller Type">
                                        <e-data-manager adaptor="WebApiAdaptor" url="/api/ControllerType" crossDomain="true"></e-data-manager>
                                        <e-dropdownlist-fields text="controllerType" value="ControllerID"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Start">Start</label>
                                    <ejs-datetimepicker id="Start" ejs-for="@Model.Start"></ejs-datetimepicker>

                                </div>
                                <div class="form-group">
                                    <label asp-for="End">Due Date</label>
                                    <ejs-datetimepicker id="End" ejs-for="@Model.End"></ejs-datetimepicker>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LaboratoryId">Laboratory</label>
                                    <ejs-dropdownlist id="LaboratoryId" placeholder="Laboratory">
                                        <e-data-manager adaptor="WebApiAdaptor" url="/api/Laboratory" crossDomain="true"></e-data-manager>
                                        <e-dropdownlist-fields text="LaboratoryName" value="LaboratoryId"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SpecialDetails">Special Details</label>
                                    <ejs-textbox id="SpecialDetails" multiline="true" placeholder="Special Details" floatLabelType="Auto" ejs-for="@Model.SpecialDetails"></ejs-textbox>
                                </div>
                               <div class="form-group">
                                   <label asp-for="StatusID">Status</label>
                                   <ejs-dropdownlist id="StatusID" enabled="false" value="1">
                                       <e-data-manager adaptor="WebApiAdaptor" url="/api/RequestStatus" crossDomain="true"></e-data-manager>  
                                       <e-dropdownlist-fields text="Status" value="StatusID"></e-dropdownlist-fields>
                                   </ejs-dropdownlist>
                               </div>
                                <div id="submitbutton">

                                    <ejs-button id="submitButton" content="Submit"></ejs-button>
                                </div>
                            </form>
</div>
                    </div>
                </div>
            </section>
        </div>
   
</body>
