<configuration>
  <connectionStrings>
    <add name="ConnectionString"
                 connectionString="Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=aspnet-okLims-10F86EC1-A7B9-40B3-A943-2C9C114B0BDE;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;User ID=cmedders;Password=Winter.2"
                 providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
